.container {
    height: 600px;
    width: 300px;
    background-color: rgb(44, 188, 188);
    
}
.item {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}