*{
    background-color: wheat;

}
p{
    color: #949191;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    color: red;
}
h3{
    color: black;
}
a{
    color: green;
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}
textarea{
    color: black;
}
p{
    line-height: 30px;
}
h1{
    text-decoration: underline wavy;
}